.header {
  padding-top: 39px;
  padding-bottom: 39px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    transform: translateX(-110%);
  }

}

.logo {
  width: 117px;
  height: 22px;
}