.marketing {
  position: absolute;
  left: 50px;
  bottom: 14%;
  background-color: $white-color;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  font-size: 11px;
  color: #858585;
  z-index: 100;
  transform: translateX(-150vw);
  transition: 0.3s all;

  &_visible {
    transform: translateX(0);
    transition: 0.3s all;
  }

  &__img {
    max-width: 70px;
    max-height: 90px;
    margin: auto 0;
  }

  &__title {
    margin: 8px 0 20px;
  }

  &__text {
    margin: 5px 30px 5px 10px;
    max-width: 150px;
  }

  &__price {
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-weight: 700;
    color: $white-color;
    background-color: $red-color;
    padding: 5px 10px;
  }

  &__btn {
    display: block;
    margin-bottom: auto;
    margin-top: 5px;
  }
}