.card-slider {
  display: flex;

  &__thumb {
    max-width: 70px;
    max-height: 90px;
    cursor: pointer;

    img {
      pointer-events: none;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__main {
    margin-left: 15px;
    width: 686px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.card-top {
  & .container {
    display: flex;
    justify-content: space-around;
  }

  &__left {

  }

  &__right {
    padding-top: 60px;
  }
}

@keyframes fade {
  
}

