.nav {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    color: #fff;

    &:after {
      background-color: $white-color;
    }

    &_active {
      cursor: text;

      &:after {
        background-color: $white-color;
      }

      &:after {
        opacity: 1;
      }
    }

    &:hover {

      &:after {
        background-color: $white-color;
      }
    }
  }
}  