// COLORS
$bg-color: rgba(232, 245, 231, 0.8);
$main-color: #151515;
$white-color: #ffffff;
$black-color: #000000;
$gold-color: #feaf2c;
$green-color: rgba(125, 204, 119, 1);
$orange-color: #e86b4a;
$purple-color: #eeaeca;
$red-color: rgb(202, 0, 0);
$gray-color: #858585;
$procent-gradient: linear-gradient(45deg, #ff00e3, #41e7f4, #ecff01, #54d689);